<div class="details-container">
    <h2><%= character.name %></h2>
    <h3>Rating: <%= character.rank %></h3>
    <img class="portrait" src='<%= character.image %>'>
</div>

<h5>Comments</h5>
<div class='comment-zone'>
    <% if(comments.length) { %>
        <% comments.forEach(comment => { %>
            <div class="comment-container">
                <div class="comment-title">
                    <h6 class="comment-user"><%= comment.user.username %></h6>
                    <div class="controls <%= comment.user.username %>Comment">
                        <a class="btn btn-secondary" href="/comments/<%= comment.id %>">Edit</a>
                        <form method="POST" action="/comments/<%= comment.id %>?_method=DELETE">
                            <input class="btn btn-secondary" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
                <p><%= comment.content %></p>
            </div>
        <% }) %>
    <% } else { %>
        <p>No comments yet</p>
    <% } %>
</div>

<form id="newComment" method="POST" action="/details/<%= character.id %>/comments">
    <h6>Comment on this character</h4>
    <input hidden id="commenter" type="text" name="name">
    <input class="comment" type="text" name="content"><br>
    <input type="submit">
</form>

<script>
    let user = localStorage.getItem('user')
    if(user){
        document.getElementById("commenter").value = user
        let userComments = document.getElementsByClassName(`${user}Comment`)
        for(let i = 0; i < userComments.length; i++){
            userComments[i].style.visibility = "visible"
        }
    } else {
        document.getElementById("newComment").style.display = "none"
    }
</script>